/*For all styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: 'Montserrat', sans-serif !important;
}

/* antd override*/
input {
  border-radius: 0 !important;
  border : 1px solid gray !important;
  height: 40px !important;
  padding: 0 10px !important;
}
input:focus {
  outline: none !important; 
  box-shadow: none !important;
  border-color: orangered !important;
  
}
label {
  font-weight: bold !important;
  color: black !important;
}
/*
.ant-form-item {
  margin-bottom:0 !important;;
}
*/

/* comman style*/
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.normal-text {
  font-size: 1rem;
}
.card {
  box-shadow: 0 0 2px gray;
    border-radius:0 !important;
}
/* style authentication */
.authentication {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #065460;
}

.authentication-form {
  width: 400px;
}
 .authentication .card-title {
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orangered;
  color: white !important;
  max-width: max-content !important;
  padding: auto; 
  margin-left: -40px;
  border-bottom-left-radius: 10px;
} 